<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <a mat-button [routerLink]="'/'">
      <h1>E-Book Store</h1>
    </a>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/books'"> Books </a>
      <a mat-button [routerLink]="'/books/search'"> Search </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a mat-list-item
         *ngFor="let chapter of chapters$ | async"
         [routerLink]="['/books', chapter.book.id]"
         [queryParams]="{ page_number: chapter.page_number }"

      > {{ chapter.chapter_title }} </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
