<mat-card>
  <mat-card-header>
  </mat-card-header>
  <div style="height: 170px;"></div>
  <mat-card-content>
    <p>
      <a (click)="bookDetails.emit(book)">{{ book.title | summary }}</a>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="bookDetails.emit(book)">
      <i class="material-icons">book</i> READ
    </button>
  </mat-card-actions>
</mat-card>
