<div class="catalog-container">
  <div class="catalog-list">
    <form [formGroup]="searchForm" (submit)="searchBooks()">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td colspan="3">
                <mat-form-field class="example-full-width">
                  <mat-label>Search Term</mat-label>
                  <input matInput
                         type="text"
                         placeholder="A tale of two cities"
                         formControlName="search_term"
                  >
                  <mat-icon matSuffix>search</mat-icon>
                  <mat-error *ngIf="search_term.invalid && search_term.errors.required">
                    Search Term is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Search Source</mat-label>
                  <mat-select formControlName="search_source">
                    <mat-option [value]="1">Yes</mat-option>
                    <mat-option [value]="0">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Search Author</mat-label>
                  <mat-select formControlName="search_author">
                    <mat-option [value]="1">Yes</mat-option>
                    <mat-option [value]="0">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Search Publisher</mat-label>
                  <mat-select formControlName="search_publisher">
                    <mat-option [value]="1">Yes</mat-option>
                    <mat-option [value]="0">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <mat-label>Search Published Date</mat-label>
                  <mat-select formControlName="search_published_date">
                    <mat-option [value]="1">Yes</mat-option>
                    <mat-option [value]="0">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Search Published Location</mat-label>
                  <mat-select formControlName="search_published_location">
                    <mat-option [value]="1">Yes</mat-option>
                    <mat-option [value]="0">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <mat-label>Search Publication Info</mat-label>
                  <mat-select formControlName="search_publication_info">
                    <mat-option [value]="1">Yes</mat-option>
                    <mat-option [value]="0">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>RESET</button>
          <button mat-raised-button color="primary">SEARCH</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
<div class="result-container"
     *ngIf="books?.length"
>
  <div class="result-list">
    <mat-card>
      <mat-card-content>
        <mat-list>
          <div mat-subheader>Search Results: {{ books?.length }}</div>
          <mat-list-item *ngFor="let book of books">
            <a mat-list-item [routerLink]="['/books', book.id]" [queryParams]="{ page_number: 1}">
              <mat-icon mat-list-icon>book</mat-icon>
              <div mat-line>{{book.title | summary:150}}</div>
              <div mat-line> {{book.author}} </div>
            </a>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>


