.catalog-container {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-progress-spinner {
  margin: 0 auto;
}

.example-full-width {
  width: 100%;
}

mat-card:hover {
  box-shadow: 3px 3px 16px -2px rgba(0, 0, 0, 0.5);
}

.result-container {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
}
.result-list {
  display: flex;
  flex-wrap: wrap;
}

