<div class="catalog-container">
  <div *ngIf="(books$ | async) as books" class="catalog-list">
    <app-book-item
      *ngFor="let book of books"
      [book]="book"
      (bookDetails)="goToDetails(book)"
    >
    </app-book-item>
  </div>
</div>
