<mat-paginator [hidePageSize]="true" [length]="book.total_pages"
               [pageSize]="1"
               [pageSizeOptions]="[1]"
               [pageIndex]="book.page_number - 1"
               (page)="pageChanged($event)"
>
</mat-paginator>
<div *ngIf="book.book">
  <div class="book-container">
    <h1>{{ book.book.title }}</h1>
    <div *ngIf="book.physical_description">
      <mat-divider></mat-divider>
      <h3>{{ book.chapter_title }} - {{ book.section_number }}</h3>
      <mat-divider></mat-divider>
      <div>
        {{ book.physical_description }}
      </div>
    </div>
    <div *ngIf="!book.physical_description">
      <mat-chip>Page Intentionally Left Blank</mat-chip>
    </div>
  </div>
</div>



